{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 py-12 px-8 grid grid-cols-5 gap-4 items-center border border-rose-200 rounded-xl">
        <div class="mt-12 py-12 px-8 grid grid-cols-3 gap-4 items-center">
            <div class="text-center">
                
                <h3 class="mb-4 text-xl text-gray-800">Welcome to REHA Radio</h3>

                <p class="text-gray-500">
                    Pick a radio station to listen
                </p> 
            </div>

        </div>

        <div class="container py-4">
            <h2 class="mb-4 text-center">🎧 Available Radio Stations</h2>
            <div class="row g-4">
                {% for key, station in stations.items %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card h-100 station-card">
                            <img src="{{ station.image_url }}" class="card-img-top" alt="{{ station.name }}">
                            <div class="card-body text-center">
                                <a href="{% url 'station_detail' key %}" class="card-title text-decoration-none station-name">
                                    {{ station.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}